<!DOCTYPE html>
<html ng-app="mod" ng-controller="ctrl">

<head>
    <title>kcw Directives </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="query-builder.css" type="text/css" />
</head>

<body>

    <div 
    kcw-query-builder 
    query-builder-config="{{queryBuilderStuff.queryBuilderConfiguration}}" 
    saved-rules="savedQuery" 
    save-button-text="{{saveLabel}}" 
    clear-button-text="{{clearLabel}}" 
    on-save-fn="onSaved()" 
    on-clear-fn="onCleared()" 
    on-validation-fail-fn-ref="onValidationError"></div>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="query-builder.standalone.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="kcwDirectives.js"></script>
    <script type="text/javascript">
        angular.module('mod', ['kcw.directives'])
            .controller('ctrl', ['$scope', function($scope) {
                $scope.queryBuilderStuff = {
                    queryBuilderConfiguration: null,
                    savedQuery: null
                };
                $scope.savedQuery = null;
                $scope.saveLabel = 'Save';
                $scope.clearLabel = 'Clear';
                $scope.onSaved = function() {
                    console.log('onSaved => ', $scope.savedQuery);
                };
                $scope.onCleared = function() {
                    console.log('onCleared =>');
                };
                $scope.onValidationError = function(rule, error, value, filter, operator) {
                    console.log('onValidationError => ', {
                        "rule": rule,
                        "error": error,
                        "value": value,
                        "filter": filter,
                        "operator": operator
                    });
                };
                
                $scope.savedQuery = {
  "condition": "AND",
  "rules": [
    {
      "id": "price",
      "field": "price",
      "type": "double",
      "input": "text",
      "operator": "less",
      "value": "10.25"
    },
    {
      "condition": "OR",
      "rules": [
        {
          "id": "category",
          "field": "category",
          "type": "integer",
          "input": "select",
          "operator": "in",
          "value": [
            "1",
            "2"
          ]
        },
        {
          "id": "name",
          "field": "name",
          "type": "string",
          "input": "text",
          "operator": "equal",
          "value": "John Doe"
        }
      ]
    }
  ]
};
$scope.queryBuilderStuff.queryBuilderConfiguration = {
  //plugins: ['sortable', 'bt-tooltip-errors'],
  
  filters: [{
    id: 'name',
    label: 'Name',
    type: 'string'
  }, {
    id: 'category',
    label: 'Category',
    type: 'integer',
    input: 'select',
    multiple: true,
    values: {
      1: 'Books',
      2: 'Movies',
      3: 'Music',
      4: 'Tools',
      5: 'Goodies',
      6: 'Clothes'
    },
    operators: ['in', 'not_in', 'is_null', 'is_not_null']
  }, {
    id: 'in_stock',
    label: 'In stock',
    type: 'integer',
    input: 'radio',
    values: {
      1: 'Yes',
      0: 'No'
    },
    operators: ['equal']
  }, {
    id: 'price',
    label: 'Price',
    type: 'double',
    validation: {
      min: 0,
      step: 0.01
    }
  }, {
    id: 'id',
    label: 'Identifier',
    type: 'string',
    placeholder: '____-____-____',
    operators: ['equal', 'not_equal'],
    validation: {
      format: /^.{4}-.{4}-.{4}$/
    }
  }]
};

            }]);
    </script>

</body>

</html>
